/* tool tip designs */

.toolTipContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    min-width: 200px;
  }


  /* arrows desingns */

  .arrows {
    border: 15px solid transparent;
    margin: 0px auto;
  }
  .bootom {
    border-top: 15px solid rgb(45, 44, 44);
    border-bottom: 0px;
  }
  .top {
    border-top: 0px;
    border-bottom: 15px solid rgb(45, 44, 44);
  }
  .right {
    border-left: 15px solid rgb(45, 44, 44);
    border-right: 0px;
  }
  .left {
    border-left: 0px;
    border-right: 15px solid rgb(45, 44, 44);
  }


  /*tool tip body container desings  */
  
  .toolTipBodyContainer {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }
  .toolTipBody {
    background-color: rgb(45, 44, 44);
    min-height: 60px;
    margin: 0px;
    border-radius: 12px;
    padding: 0px 10px;
    color: white;
  }
  .displayHidden {
    display: none;
  }
  